.Navigation{
    display: block;
    margin: 10px 0;
    box-sizing: border-box;
    width:100%;
}

.Navigation a {
    background-color:brown;
    text-decoration: none;
    width:100%;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
    display: block
}

.Navigation a:hover,
.Navigation a:active,
.Navigation a.active {
    border-bottom: 4px solid #40A4C8;
    background-color: lightsteelblue;
    color: white
}

@media (min-width:500px) {
    .Navigation{
        display: flex;
        margin: 0;
        height:100%;
        width: auto;
        text-align: center
    }
    
    .Navigation a {
        background-color: white;
        text-decoration: none;
        height:100%;
        display: block
    }
    
    .Navigation a:hover,
    .Navigation a:active,
    .Navigation a.active {
        border-bottom: 4px solid #40A4C8;
        background-color: lightsteelblue;
        color: white
    }
    
}